.text {
  /* background-color: aqua; */
  width: 100%;
  /* height: 400px; */
  /* align-items:center; */
  /* text-align: center; */
  /* border: 4px solid rgb(85, 0, 255); */
  

}

.text-design {
  /* margin-left: 5px; */
}

.h2 {
  font-size: 30px;
  font-weight: 600;
  margin-left: 5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* text-align: center; */
}

.time-zones {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-bottom: 20px;
  margin-left: 5px;
  

}
.hot-zone-underline{
  text-decoration: underline;
}
.recent-earthquake-underline{
  text-decoration: underline;
}

.hot-zones {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-bottom: 20px;
  margin-left: 5px;
  

}
.recent-earthquakes {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 40px;
  margin-left: 5px;

}

.earthquakestats {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-top: 3dvh;
  /* align-items: center; */
  /* justify-content: center; */
  border: 2px solid gray;
  /* box-sizing: border-box; */
  margin-right: 2dvh;
  margin-left: 2dvh;


}


.statsdata {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.dataview {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.dataview>span:nth-of-type(1) {
  font-weight: bold;
  font-size: 35px;
  color: #5959A6;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.dataview>span:nth-of-type(2) {
  font-size: 18px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


li {
  cursor: pointer;
}